@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("assests/images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.64;
    background-color: black;
    position: absolute;
    top: 0;

}

nav {
    display: flex;
    max-width: 70vw;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 82px;

}

nav img {
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10px;
}

.join {
    font-family: "Martel Sans", sans-serif;
    height: calc(100%-82px);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 22px;
    padding: 147px 30px;


}
.join-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.join> :first-child {
    font-weight: 600;
    font-size: 48px;
    text-align: center;
}

.join> :nth-child(2) {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
}

.join> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation {
    height: 6px;
    background-color: rgb(26, 26, 26);
}

.btn {
    padding: 3px 8px;
    font-weight: 550;
    background-color: white;
    border: none;
}

.btn-red {
    background-color: red;
    color: white;
    padding:3px 25px;
    font-size: 15px;
    border-radius: 4px;
}
.main input{
    border: 1px solid rgb(211, 210, 210);
    padding: 3px 101px 8px 14px;
    margin-right: 15px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    background-color: rgba(35, 35, 35, 0.5);
}

.btn-red-sm {
    background-color: red;
    color: white;
}